<div id="page-feed" class="span12">
	<section id="add-template" class="row-fluid active">
		<h2>1. Select a Template</h2>
		<div class="drop-element margin-top-bottom">
			<button id="btn-upload-template" class="btn">Add Template</button>
			<input type="file" id="input-upload-template" name="file" class="hide" />
			<br/><br/>
			<span class="drop-instructions">or Drag and Drop file here</span>
			<span class="drop-over">Drop files here!</span>
		</div>
  		<div class="editor margin-top-bottom">
  			<div class="span6">
  				<form class="form-horizontal">
  					<fieldset>
  						<legend>Template Configuration</legend>
  						<div style="height: 250px;">
	  						<div class="control-group">
	  							<label class="control-label" for="select01">Background Type</label>
	  							<div class="controls">
	  								<select id="select01" class="input-medium" ng-model="bg.type">
	  									<option value="0">Normal</option>
	  									<option value="1">Rounded</option>
	  								</select>
	  							</div>
	  						</div>
	  						<div id="bg-rounded" ng-show="bg.type">
		  						<div class="control-group">
		  							<label class="control-label" for="fileInput">Border Radius</label>
		  							<div class="controls">
		  								<input id="spinner" class="input-small" ng-model="bg.radius">
		  							</div>
		  						</div>
		  						<div class="control-group">
		  							<label class="control-label" for="fileInput">Transparent</label>
		  							<div class="controls">
		  								<label class="checkbox">
			  								<input type="checkbox" ng-model="isHiddenTpl">
			  								View the rounded background (not implemented)
		  								</label>
		  							</div>
		  						</div>
	  						</div>
	  						<div class="control-group">
	  							<label class="control-label" for="optionsCheckbox">Crop</label>
	  							<div class="controls">
	  								<label class="checkbox">
	  									<input type="checkbox" id="optionsCheckbox" ng-model="bg.crop">
	  									Auto crop (center) for background images (next step)
	  								</label>
	  							</div>
	  						</div>
  						</div>
  						<div class="form-actions">
  							<button class="btn btn-primary" ng-click="doNextStep()">Add Background Images</button>
  						</div>
  					</fieldset>
  				</form>
  			</div>
  			<div id="preview-tpl" class="span6 text-center">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="403" height="403">
			  	<defs>
			    	<clipPath id="clip">
			      		<rect id="rect" x="0" y="0" width="100%" height="100%" rx="{{bg.radius}}"/>
			    	</clipPath>              
			  	</defs>
			    <rect width="100%" height="100%" fill="black" clip-path="url(#clip)" />
		        <image xlink:href="assets/img/template.png" width="100%" height="100%"></image> 
			</svg>
		</div>
		</div>
	</section>
	<section id="add-background" class="row-fluid">
		<h2>2. Select Backgrounds</h2>
		<div class="drop-element-2 margin-top-bottom">
			<button id="btn-upload-backgrounds" class="btn">Add Backgrounds</button>
			<input type="file" id="input-upload-backgrounds" name="file[]" class="hide" multiple />
			<br/><br/>
			<span class="drop-instructions">or Drag and Drop file here</span>
			<span class="drop-over">Drop files here!</span>
		</div>
		<div id="canvas"></div>
		<div class="editor-wrapper">
			<div class="loading"><i class="icon-spinner icon-spin icon-4x"></i> <span>Perparing Images..</span></div>
			<div class="editor">
				<div class="container">
					<div class="row-fluid">
						<div class="span12 well">
							<div class="span8 queue">
								<div class="span10 progress progress-striped active" style="margin-bottom: 0;">
									<div class="bar"><span></span></div>
								</div>
								<span class="span2" style="margin-top: 5px;">{{finishedImages}} / {{countImages}}</span>
							</div>
							<div class="span4 text-right">
								<a href class="btn" ng-disabled="isDownloadDisabled" ng-click="createNew()"><i class="icon-plus"></i> Create New</a>
								<a href id="downloadZip" class="btn btn-success" ng-disabled="isDownloadDisabled"><i class="icon-download-alt"></i> Download as Zip</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-img" data-toggle="tab">Selected</a></li>
						<li><a href="#tab-svg" data-toggle="tab">Generated</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-img">
							<ul class="thumbnails img-list"></ul>
						</div>
						<div class="tab-pane" id="tab-svg">
							<ul class="thumbnails svg-list"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
