<div id="splash-mobile" class="row-fluid">
	<div id="svg-mobile" class="span12 template">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{splash.selected.dimension.width}}" height="{{splash.selected.dimension.height}}">
			<defs>
				<style type="text/css"><![CDATA[
					.facebook-name h2 {
						text-align: center;
						color: #434343;
						font-family: 'Nexalight';
						font-weight: normal;
						vertical-align: middle;
						margin: 0;
						padding: 15px 20px;
						font-size: 18pt !important;
					}
					.facebook-name.A5 h2 {
						font-size: 12pt !important;
					}
					.foreign-object p {
						text-align: left;
						color: #7f7b7b;
						font-family: 'Arial';
						font-weight: normal;
						font-size: 13px;
						line-height: 15px;
						margin: 0;
						padding: 0;
					}
					.foreign-object.A5 p {
						font-size: 10px;
						line-height: 10px;
					}
					.foreign-object p.people-name {
						font-weight: bold;
						padding-top: 5px;
					}
				]]></style>
			</defs>
			<g id="background">
				<image xlink:href="{{splash.selected.background}}" x="0" y="0" width="100%" height="100%" />
			</g>
			<g id="screenshot">
				<image xlink:href="{{splash.screenshot}}" x="{{splash.selected.screenshot.x}}" y="{{splash.selected.screenshot.y}}" width="{{splash.selected.screenshot.width}}" height="{{splash.selected.screenshot.height}}" />
			</g>
			<g id="fb-name">
				<foreignObject x="0" y="{{splash.attributes[splash.size].name.y}}" width="100%" height="100" class="facebook-name {{splash.size}}">
					<body xmlns="http://www.w3.org/1999/xhtml">
						<h2 ng-bind-html-unsafe="splash.url"></h2>
					</body>
				</foreignObject>
			</g>
			<g id="iphone-qrcode-canvas">
				<foreignObject x="{{splash.selected.qr.iphone.x}}" y="{{splash.selected.qr.iphone.y}}" width="{{splash.selected.qr.iphone.size}}" height="{{splash.selected.qr.iphone.size}}">
					<body xmlns="http://www.w3.org/1999/xhtml">
						<div id="canvas-qrcode-iphone"></div>
					</body>
				</foreignObject>
			</g>
			<g id="iphone-qrcode-image">
				<image xlink:href="{{splash.selected.qr.iphone.image}}" x="{{splash.selected.qr.iphone.x}}" y="{{splash.selected.qr.iphone.y}}" width="{{splash.selected.qr.iphone.size}}" height="{{splash.selected.qr.iphone.size}}" />
			</g>

			<g id="android-qrcode-canvas">
				<foreignObject x="{{splash.selected.qr.android.x}}" y="{{splash.selected.qr.android.y}}" width="{{splash.selected.qr.android.size}}" height="{{splash.selected.qr.android.size}}">
					<body xmlns="http://www.w3.org/1999/xhtml">
						<div id="canvas-qrcode-android"></div>
					</body>
				</foreignObject>
			</g>
			<g id="android-qrcode-image">
				<image xlink:href="{{splash.selected.qr.android.image}}" x="{{splash.selected.qr.android.x}}" y="{{splash.selected.qr.android.y}}" width="{{splash.selected.qr.android.size}}" height="{{splash.selected.qr.android.size}}" />
			</g>

			<g id="people-1">
				<clipPath id="cut-off-bottom-1">
			      <circle cx="{{splash.selected.avatar.pos[0].x + splash.selected.avatar.radius}}" cy="{{splash.selected.avatar.pos[0].y + splash.selected.avatar.radius}}" r="{{splash.selected.avatar.radius}}" />
			    </clipPath>
			    <image x="{{splash.selected.avatar.pos[0].x}}" y="{{splash.selected.avatar.pos[0].y}}" xlink:href="{{splash.selected.peoples[0].avatar}}" height="{{splash.selected.avatar.height}}" width="{{splash.selected.avatar.width}}" clip-path="url(#cut-off-bottom-1)" ></image>
			    
				<foreignObject x="{{splash.selected.avatar.text[0].x}}" y="{{splash.selected.avatar.text[0].y}}" width="{{splash.selected.avatar.text[0].width}}" height="{{splash.selected.avatar.text[0].height}}" class="foreign-object {{splash.size}}">
					<body xmlns="http://www.w3.org/1999/xhtml">
						<p ng-bind-html-unsafe="splash.selected.peoples[0].text|blockquote"></p>
						<p class="people-name" ng-bind-html-unsafe="splash.selected.peoples[0].name" class="{{splash.size}}"></p>
					</body>
				</foreignObject>
			</g>
			<g id="people-2">
				<clipPath id="cut-off-bottom-2">
			      <circle cx="{{splash.selected.avatar.pos[1].x + splash.selected.avatar.radius}}" cy="{{splash.selected.avatar.pos[1].y + splash.selected.avatar.radius}}" r="{{splash.selected.avatar.radius}}" />
			    </clipPath>
			    <image x="{{splash.selected.avatar.pos[1].x}}" y="{{splash.selected.avatar.pos[1].y}}" xlink:href="{{splash.selected.peoples[1].avatar}}" height="{{splash.selected.avatar.height}}" width="{{splash.selected.avatar.width}}" clip-path="url(#cut-off-bottom-2)" ></image>
				<foreignObject x="{{splash.selected.avatar.text[1].x}}" y="{{splash.selected.avatar.text[1].y}}" width="{{splash.selected.avatar.text[1].width}}" height="{{splash.selected.avatar.text[1].height}}" class="foreign-object {{splash.size}}">
					<body xmlns="http://www.w3.org/1999/xhtml">
						<p ng-bind-html-unsafe="splash.selected.peoples[1].text|blockquote"></p>
						<p class="people-name" ng-bind-html-unsafe="splash.selected.peoples[1].name" class="{{splash.size}}"></p>
					</body>
				</foreignObject>
			</g>
		</svg>
		<div id="canvas"></div>
	</div>
	<canvas id="canvas-iphone4" class="hide"></canvas>
	<canvas id="canvas-iphone5" class="hide"></canvas>
	<canvas id="canvas-ipad" class="hide"></canvas>
</div>