
@import url("animation-keyframes.css");

html {
    -webkit-perspective: 500px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 50%;
	/*background: gray;*/
}

.after-animation {
	height: auto;
	overflow: auto !important;
}

.rotateInLeft {
	-webkit-animation: rotateInLeft 1s linear 0s 1 forwards;
	-moz-animation: rotateInLeft 1s linear 0s 1 forwards;
	-ms-animation: rotateInLeft 1s linear 0s 1 forwards;
	-o-animation: rotateInLeft 1s linear 0s 1 forwards;
	animation: rotateInLeft 1s linear 0s 1 forwards; 
}
.rotateOutLeft {
	-webkit-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-moz-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-ms-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-o-animation: rotateOutLeft 1s linear 0s 1 forwards;
	animation: rotateOutLeft 1s linear 0s 1 forwards; 
}

.rotateInRight {
	-webkit-animation: rotateInRight 1s linear 0s 1 forwards;
	-moz-animation: rotateInRight 1s linear 0s 1 forwards;
	-ms-animation: rotateInRight 1s linear 0s 1 forwards;
	-o-animation: rotateInRight 1s linear 0s 1 forwards;
	animation: rotateInRight 1s linear 0s 1 forwards; 
}
.rotateInRightWithoutToKeyframe {
	-webkit-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-moz-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-ms-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-o-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards; 
}
.rotateOutRight {
	-webkit-animation: rotateOutRight 1s linear 0s 1 forwards;
	-moz-animation: rotateOutRight 1s linear 0s 1 forwards;
	-ms-animation: rotateOutRight 1s linear 0s 1 forwards;
	-o-animation: rotateOutRight 1s linear 0s 1 forwards;
	animation: rotateOutRight 1s linear 0s 1 forwards; 
}

.whirlIn {
	-webkit-animation: whirlIn 1s linear 0s 1 forwards;
	-moz-animation: whirlIn 1s linear 0s 1 forwards;
	-ms-animation: whirlIn 1s linear 0s 1 forwards;
	-o-animation: whirlIn 1s linear 0s 1 forwards;
	animation: whirlIn 1s linear 0s 1 forwards; 
}
.whirlOut {
	-webkit-animation: whirlOut 1s linear 0s 1 forwards;
	-moz-animation: whirlOut 1s linear 0s 1 forwards;
	-ms-animation: whirlOut 1s linear 0s 1 forwards;
	-o-animation: whirlOut 1s linear 0s 1 forwards;
	animation: whirlOut 1s linear 0s 1 forwards; 
}

.slideIn {
	-webkit-animation: slideIn 1.2s linear 0s 1 forwards;
	-moz-animation: slideIn 1.2s linear 0s 1 forwards;
	-ms-animation: slideIn 1.2s linear 0s 1 forwards;
	-o-animation: slideIn 1.2s linear 0s 1 forwards;
	animation: slideIn 1.2s linear 0s 1 forwards;
}
.slideOut {
	-webkit-animation: slideOut 1.2s linear 0s 1 forwards;
	-moz-animation: slideOut 1.2s linear 0s 1 forwards;
	-ms-animation: slideOut 1.2s linear 0s 1 forwards;
	-o-animation: slideOut 1.2s linear 0s 1 forwards;
	animation: slideOut 1.2s linear 0s 1 forwards;
}

.tumbleIn {
	-webkit-animation: tumbleIn 1s linear 0s 1 forwards;
	-moz-animation: tumbleIn 1s linear 0s 1 forwards;
	-ms-animation: tumbleIn 1s linear 0s 1 forwards;
	-o-animation: tumbleIn 1s linear 0s 1 forwards;
	animation: tumbleIn 1s linear 0s 1 forwards;
}
.tumbleOut {
	-webkit-animation: tumbleOut 1s linear 0s 1 forwards;
	-moz-animation: tumbleOut 1s linear 0s 1 forwards;
	-ms-animation: tumbleOut 1s linear 0s 1 forwards;
	-o-animation: tumbleOut 1s linear 0s 1 forwards;
	animation: tumbleOut 1s linear 0s 1 forwards;
}

.expandIn {
	-webkit-animation: expandIn 1s linear 0s 1 forwards;
	-moz-animation: expandIn 1s linear 0s 1 forwards;
	-ms-animation: expandIn 1s linear 0s 1 forwards;
	-o-animation: expandIn 1s linear 0s 1 forwards;
	animation: expandIn 1s linear 0s 1 forwards;
}
.collapseOut {
	-webkit-animation: tumbleOut 1s linear 0s 1 forwards;
	-moz-animation: tumbleOut 1s linear 0s 1 forwards;
	-ms-animation: tumbleOut 1s linear 0s 1 forwards;
	-o-animation: tumbleOut 1s linear 0s 1 forwards;
	animation: tumbleOut 1s linear 0s 1 forwards;
}

/* angular animate */

/* slide linear */

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease in back */

.animate-ease-in-back-enter, 
.animate-ease-in-back-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -moz-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -ms-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -o-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    position: relative;
    display: block;
} 

.animate-ease-in-back-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-ease-in-back-enter.animate-ease-in-back-enter-active, 
.animate-ease-in-back-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-ease-in-back-leave.animate-ease-in-back-leave-active,
.animate-ease-in-back-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease out back */ 

.animate-ease-out-back-enter, 
.animate-ease-out-back-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -moz-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -ms-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -o-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    position: relative;
    display: block;
}

.animate-ease-out-back-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-ease-out-back-enter.animate-ease-out-back-enter-active, 
.animate-ease-out-back-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-ease-out-back-leave.animate-ease-out-back-leave-active,
.animate-ease-out-back-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease in out back */

.animate-ease-in-out-back-enter, 
.animate-ease-in-out-back-leave { 
    -webkit-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -moz-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -ms-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -o-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    position: relative;
    display: block;
} 

.animate-ease-in-out-back-enter { 
	transition-delay:1.5s;
	-webkit-transition-delay:1.5s; 
} 
 
.animate-ease-in-out-back-enter.animate-ease-in-out-back-enter-active, 
.animate-ease-in-out-back-leave {
    opacity: 1;
    left: 0;
}
 
.animate-ease-in-out-back-leave.animate-ease-in-out-back-leave-active {
    opacity: 0;
    left: 100%;
}
 
.animate-ease-in-out-back-enter {
    opacity: 0;
    left: -100%;
}

/* jqm loading */

.ui-loading body {
	opacity: 0.4;
}

.ui-body-a {
	border: 1px solid 		#444 /*{a-body-border}*/;
	background: 			#222 /*{a-body-background-color}*/;
	color: 					#fff /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444 /*{a-body-background-start}*/), to( #222 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444 /*{a-body-background-start}*/, #222 /*{a-body-background-end}*/);	
}
.ui-body-b {
	border: 1px solid 		#999 /*{b-body-border}*/;
	background: 			#f3f3f3 /*{b-body-background-color}*/;
	color: 					#222 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #fff /*{b-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ddd /*{b-body-background-start}*/), to( #ccc /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ddd /*{b-body-background-start}*/, #ccc /*{b-body-background-end}*/);
}
/* corner rounding classes */
.ui-corner-all {
	-webkit-border-radius: 				.6em /*{global-radii-blocks}*/;
	border-radius: 						.6em /*{global-radii-blocks}*/;
}
.ui-icon-loading {
	background: url(jquery-mobile/images/ajax-loader.gif) !important;
	background-size: 46px 46px;
}
/* loading screen */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; left: 50%; border:0; }
.ui-loader-default { background: none; filter: Alpha(Opacity=18); opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px; }
.ui-loader-verbose { min-width: 200px; filter: Alpha(Opacity=88); opacity: .88; box-shadow: 0 1px 1px -1px #fff; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px; }
.ui-loader-default h1 { font-size: 0; width: 0; height: 0; overflow: hidden; }
.ui-loader-verbose h1 { font-size: 16px; margin: 0; text-align: center; }
.ui-loader .ui-icon { background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; border-radius: 36px; }
.ui-loader-verbose .ui-icon { margin: 0 auto; filter: Alpha(Opacity=75); opacity: .75; }
.ui-loader-textonly { padding: 15px; margin-left: -115px; }
.ui-loader-textonly .ui-icon { display: none; }
.ui-loader-fakefix { position: absolute; }

/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translate3d(100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-moz-keyframes slideinfromright {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(0); }
}
@keyframes slideinfromright {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translate3d(-100%,0,0); }
    to { -webkit-transform: translate3d(0,0,0); }
}
@-moz-keyframes slideinfromleft {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(0); }
}
@keyframes slideinfromleft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(-100%,0,0); }
}
@-moz-keyframes slideouttoleft {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(-100%); }
}
@keyframes slideouttoleft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translate3d(0,0,0); }
    to { -webkit-transform: translate3d(100%,0,0); }
}
@-moz-keyframes slideouttoright {
    from { -moz-transform: translateX(0); }
    to { -moz-transform: translateX(100%); }
}
@keyframes slideouttoright {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}
.slide.out, .slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.slide.out {
	-webkit-transform: translate3d(-100%,0,0);
	-webkit-animation-name: slideouttoleft;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
}
.slide.in {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromright;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromright;
	transform: translateX(0);
	animation-name: slideinfromright;
}
.slide.out.reverse {
	-webkit-transform: translate3d(100%,0,0);
	-webkit-animation-name: slideouttoright;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	transform: translateX(100%);
	animation-name: slideouttoright;
}
.slide.in.reverse {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromleft;
	-moz-transform: translateX(0);
	-moz-animation-name: slideinfromleft;
	transform: translateX(0);
	animation-name: slideinfromleft;
}
.slidefade.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-webkit-animation-duration: 225ms;
	-moz-transform: translateX(-100%);
	-moz-animation-name: slideouttoleft;
	-moz-animation-duration: 225ms;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
	animation-duration: 225ms;
}
.slidefade.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-moz-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
.slidefade.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(100%);
	-moz-animation-name: slideouttoright;
	-moz-animation-duration: 200ms;
	transform: translateX(100%);
	animation-name: slideouttoright;
	animation-duration: 200ms;
}
.slidefade.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateX(0);
	-moz-animation-name: fadein;
	-moz-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
/* slide down */
.slidedown.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfromtop;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfromtop;
	animation-duration: 250ms;
}
.slidedown.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	-webkit-animation-name: slideouttotop;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(-100%);
	-moz-animation-name: slideouttotop;
	-moz-animation-duration: 200ms;
	transform: translateY(-100%);
	animation-name: slideouttotop;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfromtop {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfromtop {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(0); }
}
@keyframes slideinfromtop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideouttotop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes slideouttotop {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(-100%); }
}
@keyframes slideouttotop {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
}
/* slide up */
.slideup.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	-moz-animation-name: fadeout;
	-moz-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-duration: 250ms;
	-moz-transform: translateY(0);
	-moz-animation-name: slideinfrombottom;
	-moz-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfrombottom;
	animation-duration: 250ms;
}
.slideup.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	-moz-animation-name: fadein;
	-moz-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	-webkit-animation-name: slideouttobottom;
	-webkit-animation-duration: 200ms;
	-moz-transform: translateY(100%);
	-moz-animation-name: slideouttobottom;
	-moz-animation-duration: 200ms;
	transform: translateY(100%);
	animation-name: slideouttobottom;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfrombottom {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(0); }
}
@-moz-keyframes slideinfrombottom {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(0); }
}
@keyframes slideinfrombottom {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}
@-webkit-keyframes slideouttobottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes slideouttobottom {
    from { -moz-transform: translateY(0); }
    to { -moz-transform: translateY(100%); }
}
@keyframes slideouttobottom {
    from { transform: translateY(0); }
    to { transform: translateY(100%); }
}