
@import url("animation-keyframes.css");

html {
    -webkit-perspective: 500px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 50%;
	/*background: gray;*/
}

.after-animation {
	height: auto;
	overflow: auto !important;
}

.rotateInLeft {
	-webkit-animation: rotateInLeft 1s linear 0s 1 forwards;
	-moz-animation: rotateInLeft 1s linear 0s 1 forwards;
	-ms-animation: rotateInLeft 1s linear 0s 1 forwards;
	-o-animation: rotateInLeft 1s linear 0s 1 forwards;
	animation: rotateInLeft 1s linear 0s 1 forwards; 
}
.rotateOutLeft {
	-webkit-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-moz-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-ms-animation: rotateOutLeft 1s linear 0s 1 forwards;
	-o-animation: rotateOutLeft 1s linear 0s 1 forwards;
	animation: rotateOutLeft 1s linear 0s 1 forwards; 
}

.rotateInRight {
	-webkit-animation: rotateInRight 1s linear 0s 1 forwards;
	-moz-animation: rotateInRight 1s linear 0s 1 forwards;
	-ms-animation: rotateInRight 1s linear 0s 1 forwards;
	-o-animation: rotateInRight 1s linear 0s 1 forwards;
	animation: rotateInRight 1s linear 0s 1 forwards; 
}
.rotateInRightWithoutToKeyframe {
	-webkit-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-moz-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-ms-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	-o-animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards;
	animation: rotateInRightWithoutToKeyframe 1s linear 0s 1 forwards; 
}
.rotateOutRight {
	-webkit-animation: rotateOutRight 1s linear 0s 1 forwards;
	-moz-animation: rotateOutRight 1s linear 0s 1 forwards;
	-ms-animation: rotateOutRight 1s linear 0s 1 forwards;
	-o-animation: rotateOutRight 1s linear 0s 1 forwards;
	animation: rotateOutRight 1s linear 0s 1 forwards; 
}

.whirlIn {
	-webkit-animation: whirlIn 1s linear 0s 1 forwards;
	-moz-animation: whirlIn 1s linear 0s 1 forwards;
	-ms-animation: whirlIn 1s linear 0s 1 forwards;
	-o-animation: whirlIn 1s linear 0s 1 forwards;
	animation: whirlIn 1s linear 0s 1 forwards; 
}
.whirlOut {
	-webkit-animation: whirlOut 1s linear 0s 1 forwards;
	-moz-animation: whirlOut 1s linear 0s 1 forwards;
	-ms-animation: whirlOut 1s linear 0s 1 forwards;
	-o-animation: whirlOut 1s linear 0s 1 forwards;
	animation: whirlOut 1s linear 0s 1 forwards; 
}

.slideInSkew {
	-webkit-animation: slideInSkew 1s linear 0s 1 forwards;
	-moz-animation: slideInSkew 1s linear 0s 1 forwards;
	-ms-animation: slideInSkew 1s linear 0s 1 forwards;
	-o-animation: slideInSkew 1s linear 0s 1 forwards;
	animation: slideInSkew 1s linear 0s 1 forwards;
}
.slideOutSkew {
	-webkit-animation: slideOutSkew 1s linear 0s 1 forwards;
	-moz-animation: slideOutSkew 1s linear 0s 1 forwards;
	-ms-animation: slideOutSkew 1s linear 0s 1 forwards;
	-o-animation: slideOutSkew 1s linear 0s 1 forwards;
	animation: slideOutSkew 1s linear 0s 1 forwards;
}

.tumbleIn {
	-webkit-animation: tumbleIn 1s linear 0s 1 forwards;
	-moz-animation: tumbleIn 1s linear 0s 1 forwards;
	-ms-animation: tumbleIn 1s linear 0s 1 forwards;
	-o-animation: tumbleIn 1s linear 0s 1 forwards;
	animation: tumbleIn 1s linear 0s 1 forwards;
}
.tumbleOut {
	-webkit-animation: tumbleOut 1s linear 0s 1 forwards;
	-moz-animation: tumbleOut 1s linear 0s 1 forwards;
	-ms-animation: tumbleOut 1s linear 0s 1 forwards;
	-o-animation: tumbleOut 1s linear 0s 1 forwards;
	animation: tumbleOut 1s linear 0s 1 forwards;
}

.expandIn {
	-webkit-animation: expandIn 1s linear 0s 1 forwards;
	-moz-animation: expandIn 1s linear 0s 1 forwards;
	-ms-animation: expandIn 1s linear 0s 1 forwards;
	-o-animation: expandIn 1s linear 0s 1 forwards;
	animation: expandIn 1s linear 0s 1 forwards;
}
.collapseOut {
	-webkit-animation: tumbleOut 1s linear 0s 1 forwards;
	-moz-animation: tumbleOut 1s linear 0s 1 forwards;
	-ms-animation: tumbleOut 1s linear 0s 1 forwards;
	-o-animation: tumbleOut 1s linear 0s 1 forwards;
	animation: tumbleOut 1s linear 0s 1 forwards;
}

/* angular animate */

/* slide linear */

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease in back */

.animate-ease-in-back-enter, 
.animate-ease-in-back-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -moz-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -ms-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    -o-transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    transition: 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) all;
    position: relative;
    display: block;
} 

.animate-ease-in-back-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-ease-in-back-enter.animate-ease-in-back-enter-active, 
.animate-ease-in-back-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-ease-in-back-leave.animate-ease-in-back-leave-active,
.animate-ease-in-back-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease out back */ 

.animate-ease-out-back-enter, 
.animate-ease-out-back-leave
{ 
    -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -moz-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -ms-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    -o-transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) all;
    position: relative;
    display: block;
}

.animate-ease-out-back-enter
{ 
	transition-delay:1s;
	-webkit-transition-delay:1s; /* Safari and Chrome */
} 
 
.animate-ease-out-back-enter.animate-ease-out-back-enter-active, 
.animate-ease-out-back-leave {
    opacity: 1;
    right: 0;
    height: 100%;
}
 
.animate-ease-out-back-leave.animate-ease-out-back-leave-active,
.animate-ease-out-back-enter {
    opacity: 0;
    right: -50%;
    height: 0;
}

/* slide ease in out back */

.animate-ease-in-out-back-enter, 
.animate-ease-in-out-back-leave { 
    -webkit-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -moz-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -ms-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -o-transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    transition: 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    position: relative;
    display: block;
} 

.animate-ease-in-out-back-enter { 
	transition-delay:1.5s;
	-webkit-transition-delay:1.5s; 
} 
 
.animate-ease-in-out-back-enter.animate-ease-in-out-back-enter-active, 
.animate-ease-in-out-back-leave {
    opacity: 1;
    left: 0;
}
 
.animate-ease-in-out-back-leave.animate-ease-in-out-back-leave-active {
    opacity: 0;
    left: 100%;
}
 
.animate-ease-in-out-back-enter {
    opacity: 0;
    left: -100%;
}
