<div id="banner-panel-left" class="panel">
	<div class="row-fluid">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="navbar-container">
					<form class="form-search" style="margin:14px 14px 15px 14px;">
					  <div class="input-append" style="width:90%">
					    <input type="text" class="span12 search-query" placeholder="Search banners.."
					    		ng-model="$root.panel.left.model.search">
					    <button type="submit" class="btn" style="width:10%" 
					    	ng-click="$root.panel.left.model.showForm = !$root.panel.left.model.showForm"><i class="icon-cog"></i></button>
					  </div>
					</form>
					<form class="form-horizontal panel-padding" 
						  ng-class="{true:'show', false:'hide'}[$root.panel.left.model.showForm]">
						<div class="span4">
							<div class="control-group">
								<label class="control-label" for="select01" style="text-align:left; width:100px">Order by</label>
								<div class="controls" style="margin-left:100px">
									<select id="select01" class="input-small" ng-model="$root.panel.left.model.orderProp">
										<option value="ID">Date</option>
										<option value="title">Name</option>
									</select>
									<select id="select01" class="input-small" ng-model="$root.panel.left.model.orderReserve">
										<option value=false>ASC</option>
										<option value=true>DESC</option>
									</select>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<label class="control-label" for="optionsCheckbox" style="text-align:left; width:100px">Columns</label>
								<div class="controls" style="margin-left:100px">
									<label class="radio inline">
									  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols2"> 2
									</label>
									<label class="radio inline">
									  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols3" ng-disabled="conversations.length < 3"> 3
									</label>
									<label class="radio inline">
									  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols4" ng-disabled="conversations.length < 4"> 4
									</label>
									<label class="radio inline">
									  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols6" ng-disabled="conversations.length < 6"> 6
									</label>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="control-group">
								<label class="control-label" for="optionsCheckbox" style="text-align:left; width:100px">Caption</label>
								<div class="controls" style="margin-left:100px">
									<label class="checkbox">
										<input type="checkbox" id="optionsCheckbox" ng-model="$root.panel.left.model.isCaption">
									</label>
								</div>
							</div>
						</div>
					</form>	
				</div>
			</div><!-- /navbar-inner -->
		</div>
		<div class="relative" style="margin-top: 40px;">
			<!-- <div class="form-toggle">
				<a href ng-click="$root.panel.left.model.showForm = !$root.panel.left.model.showForm">
					<i class="icon-2x" ng-class="{false:'icon-double-angle-down', true:'icon-double-angle-up'}[$root.panel.left.model.showForm]"></i>
				</a>
			</div> -->
			<ul class="thumbnails panel-padding" 
				ng-class="$root.panel.left.model.cols" 
				ng-init="setEqualHeight()">
				<li id="thumb-banner-{{$index}}"
					ng-class="{cols2:'span6', cols3:'span4', cols4:'span3', cols6:'span2'}[$root.panel.left.model.cols]"
					ng-repeat="c in banners | filter:$root.panel.left.model.search | orderBy:$root.panel.left.model.orderProp:$root.panel.left.model.orderReserve">
					<a href ng-click="detailBanner($index)">
						<div class="thumbnail" 
							 ng-class="{true:'selected', false:''}[c.ID == $root.panel.left.model.selected]">
							<img ng-src="{{c.preview}}" alt="preview {{c.title}}">
							<div class="caption" ng-show="$root.panel.left.model.isCaption">
								<h3>{{c.title}}</h3>
								<p><small class="text-right">{{c.ID | date:'medium'}}</small><br/>{{c.description}}</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>
// function setEqualHeight(columns) {
// 	var tallestcolumn = 0;
// 	columns.each(
// 		function() {
// 			currentHeight = $(this).height();
// 			if (currentHeight > tallestcolumn) {
// 				tallestcolumn = currentHeight;
// 			}
// 		}
// 	);
// 	columns.height(tallestcolumn);
// }
// $('#banner-panel-left').ready(function() {
//  	setEqualHeight(setEqualHeight($(".thumbnails > li")));
// });
</script>