<div id="banner-panel-left" style="margin: 0 10px;">
	<div class="row-fluid">
		<h3>Recent banners</h3>
		<div class="relative" style="margin-top: 40px;">
			<div class="form-toggle">
				<a href ng-click="$root.panel.left.model.showForm = !$root.panel.left.model.showForm">
					<i class="icon-2x" ng-class="{false:'icon-double-angle-down', true:'icon-double-angle-up'}[$root.panel.left.model.showForm]"></i>
				</a>
			</div>
			<form class="form-horizontal panel-padding" ng-show="$root.panel.left.model.showForm">
				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="input01" style="text-align:left; width:100px">Search</label>
						<div class="controls" style="margin-left:100px">
							<input type="text" class="input-xlarge" ng-model="$root.panel.left.model.search">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="select01" style="text-align:left; width:100px">Order by</label>
						<div class="controls" style="margin-left:100px">
							<select id="select01" class="input-small" ng-model="$root.panel.left.model.orderProp">
								<option value="ID">Date</option>
								<option value="title">Name</option>
							</select>
							<select id="select01" class="input-small" ng-model="$root.panel.left.model.orderReserve">
								<option value=false>ASC</option>
								<option value=true>DESC</option>
							</select>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="optionsCheckbox" style="text-align:left; width:100px">Caption</label>
						<div class="controls" style="margin-left:100px">
							<label class="checkbox">
								<input type="checkbox" id="optionsCheckbox" ng-model="$root.panel.left.model.isCaption">
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="optionsCheckbox" style="text-align:left; width:100px">Columns</label>
						<div class="controls" style="margin-left:100px">
							<label class="radio inline">
							  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols2"> 2
							</label>
							<label class="radio inline">
							  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols3" ng-disabled="banners.length < 3"> 3
							</label>
							<label class="radio inline">
							  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols4" ng-disabled="banners.length < 4"> 4
							</label>
							<label class="radio inline">
							  <input type="radio" ng-model="$root.panel.left.model.cols" value="cols6" ng-disabled="banners.length < 6"> 6
							</label>
						</div>
					</div>
				</div>
			</form>	
			<ul class="thumbnails panel-padding" ng-class="$root.panel.left.model.cols" ng-init="setEqualHeight()">
				<li id="thumb-banner-{{$index}}"
					ng-class="{cols2:'span6', cols3:'span4', cols4:'span3', cols6:'span2'}[$root.panel.left.model.cols]"
					ng-repeat="c in banners | filter:$root.panel.left.model.search | orderBy:$root.panel.left.model.orderProp:$root.panel.left.model.orderReserve">
					<a href ng-click="detailBanner($index)">
						<div class="thumbnail" 
							 ng-class="{true:'selected', false:''}[c.ID == $root.panel.left.model.selected]">
							<img ng-src="{{c.preview}}" alt="preview {{c.title}}">
							<div class="caption" ng-show="$root.panel.left.model.isCaption">
								<h3>{{c.title}}</h3>
								<p><small class="text-right">{{c.ID | date:'medium'}}</small><br/>{{c.description}}</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>
// function setEqualHeight(columns) {
// 	var tallestcolumn = 0;
// 	columns.each(
// 		function() {
// 			currentHeight = $(this).height();
// 			if (currentHeight > tallestcolumn) {
// 				tallestcolumn = currentHeight;
// 			}
// 		}
// 	);
// 	columns.height(tallestcolumn);
// }
// $('#banner-panel-left').ready(function() {
//  	setEqualHeight(setEqualHeight($(".thumbnails > li")));
// });
</script>