<!--Content-->
<div class="row-fluid">
	<section id="editor">
		<div class="span4 col">
			<h2>Facebook</h2>
			<ul>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Banner Creator</label>
						</div>
						<div class="span4">
							<a href="#!/facebook/banner" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Conversation Templates</label>
						</div>
						<div class="span4">
							<a href="#!/facebook/conversation" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Custom Conversation Templates</label>
						</div>
						<div class="span4">
							<a href="http://secure.conversion-hub.com/apps/chm/banner-creator/backup/#/feed" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li class="border-none">
					<div class="row-fluid">
						<div class="span8">
							<label>Icons for Facebook Tabs</label>
						</div>
						<div class="span4">
							<a href="#popup-modal-icons" role="button" class="btn btn-success pull-right" data-toggle="modal">Open</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4 col">
			<h2>Mobile</h2>
			<ul>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Splash Screen & Backgrounds</label>
						</div>
						<div class="span4">
							<a href="#!/mobile" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4 col">
			
		</div>
	</section>
</div>
