<!-- Modal Icons -->
<div id="popup-modal-icons" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:690px">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	<h3 id="myModalLabel">Copy Url Tab Images and Icons</h3>
	</div>
	<div class="modal-body">
		<div id="popup-form">
			<div class="popupfloaticon" style="float:left;margin-right:10px; width:315px;height:Auto;">
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:50px;float: left;margin-right: 10px;">
						<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-tab.jpg" width="45" height="30" alt="">
					</span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:50px;float: left;margin-right: 10px;">
						<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-tab.jpg" width="45" height="30" alt="">
					</span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-tab.jpg" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-tab.jpg" width="45" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-tab.jpg" style="width:225px;"/>
				</div>
				
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/event-icon.png" width="25" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/event-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/member-icon.png" width="25" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/member-icon.png" style="width:225px;"/>
				</div>
			</div>
			<div class="popupfloaticon" style="float:left;width:315px;height:Auto;">
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;">
						<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-icon.png" width="20" height="30" alt="">
					</span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;">
						<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-icon.png" width="20" height="30" alt="">
					</span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-icon.png" style="width:225px;"/>
				</div>
				
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/directory-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" style="width:225px;"/>
				</div>
				<div class="popup-form-row" style="width:325px;float:left;">
					<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/instagram-icon.png" width="20" height="30" alt=""></span>
					<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/instagram-icon.png" style="width:225px;"/>
				</div>
			</div>	
			<div class="popup-form-row" style="width:645px;float:left;">
				<span style="width:70px;float: left;margin-right: 10px;">
				Testimonial</span>
				<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/banner/testimonial-banner.JPG" style="width:510px;"/>
			</div>
			<div class="popup-form-row" style="width:645px;float:left;">
				<span style="width:70px;float: left;margin-right: 10px;">
				Singapore</span>
				<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/banner/singapore-location.jpg" style="width:510px;"/>
			</div>
			<div class="popup-form-row" style="width:645px;float:left;">
				<span style="width:70px;float: left;margin-right: 10px;">
				International</span>
				<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/banner/international-location.jpg" style="width:510px;"/>
			</div>				
		</div>
		<div class="clear"></div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
<div id="popup-unsupported"> 
	<div class="message">
	    <p>This browser, has some issues to generate images. Please use the latest Firefox to run this application.</p>
	</div>
</div>
<div id="popup-login" class="hide">
	<form class="form-horizontal" ng-submit="auth.connect()">
		<legend><i class="icon-signin"></i> Login</legend>
			<div class="alert text-center" 
				 ng-class="{1:'alert-error', 0:'alert-warning'}[auth.error.type]"
				 ng-bind-html-unsafe="auth.error.message">
        	</div>
		  	<div class="control-group">
		    	<label class="control-label" for="inputEmail">Username</label>
		    	<div class="controls">
		      		<input type="text" id="inputEmail" placeholder="Username" required ng-model="auth.credentials.username">
		    	</div>
		  	</div>
		 	<div class="control-group">
			    <label class="control-label" for="inputPassword">Password</label>
			    <div class="controls">
			      <input type="password" id="inputPassword" placeholder="Password" required ng-model="auth.credentials.password">
			    </div>
		  	</div>
		  	<div class="control-group">
		    	<div class="controls">
		      		<button type="submit" class="btn btn-primary">Sign in</button>
		    	</div>
		  	</div>
	</form>
</div>