<style>
#holder {
	margin: 60px 10px 10px;
	border: 1px solid #aaa;
}
.doubleborder 
{
    background-color: rgba(60,60,60,0.95);
    color: #fff;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: #555;
    /*width: 120px;*/
    text-align: center;
    font-family: arial, sans-serif;
    line-height: 1.25em;
    padding: 2px;
}

.doubleborder div
{
    background-color: rgba(40,40,40,0.95);
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}
</style>
<!--Content-->
<div class="row-fluid">
	<section id="editor">
		<div class="span4 col">
			<h2>Facebook</h2>
			<ul>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Banner Creator</label>
						</div>
						<div class="span4">
							<a href="#!/facebook/banner" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Conversation Templates</label>
						</div>
						<div class="span4">
							<a href="#!/facebook/conversation" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Custom Conversation Templates</label>
						</div>
						<div class="span4">
							<a href="http://secure.conversion-hub.com/apps/chm/banner-creator/backup/#/feed" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
				<li class="border-none">
					<div class="row-fluid">
						<div class="span8">
							<label>Icons for Facebook Tabs</label>
						</div>
						<div class="span4">
							<a href="#popup-modal-icons" role="button" class="btn btn-success pull-right" data-toggle="modal">Open</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4 col">
			<h2>Mobile</h2>
			<ul>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<label>Splash Screen & Backgrounds</label>
						</div>
						<div class="span4">
							<a href="#!/mobile" class="btn btn-success pull-right">Open</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="span4 col">
			
		</div>
	</section>
</div>
