<!--Content-->
<section id="editor">
	<div class="span4 col">
		<h2>Facebook</h2>
		<ul>
			<li>
				<div class="row-fluid">
					<div class="span8">
						<label>Banner Creator</label>
					</div>
					<div class="span4">
						<a href="#!/facebook/banner" class="btn btn-success pull-right">Open</a>
					</div>
				</div>
			</li>
			<li>
				<div class="row-fluid">
					<div class="span8">
						<label>Conversation Templates</label>
					</div>
					<div class="span4">
						<a href="#!/facebook/conversation" class="btn btn-success pull-right">Open</a>
					</div>
				</div>
			</li>
			<li>
				<div class="row-fluid">
					<div class="span8">
						<label>Custom Conversation Templates</label>
					</div>
					<div class="span4">
						<a href="http://secure.conversion-hub.com/apps/chm/banner-creator/#/feed" class="btn btn-success pull-right">Open</a>
					</div>
				</div>
			</li>
			<li class="border-none">
				<div class="row-fluid">
					<div class="span8">
						<label>Icons for Facebook Tabs</label>
					</div>
					<div class="span4">
						<a href="#popup-modal-icons" role="button" class="btn btn-success pull-right" data-toggle="modal">Open</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="span4 col">
		<h2>Mobile</h2>
		<ul>
			<li>
				<div class="row-fluid">
					<div class="span8">
						<label>Splash Screen & Backgrounds</label>
					</div>
					<div class="span4">
						<a href="#!/mobile" class="btn btn-success pull-right">Open</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="span4 col">
		
	</div>

	<!-- Modal Icons
	<div id="popup-modal-icons" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:690px">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Copy Url Tab Images and Icons</h3>
		</div>
		<div class="modal-body">
			<div id="popup-form">
				<div class="popupfloaticon" style="float:left;margin-right:10px; width:315px;height:Auto;">
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:50px;float: left;margin-right: 10px;">
							<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-tab.jpg" width="45" height="30" alt="">
						</span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:50px;float: left;margin-right: 10px;">
							<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-tab.jpg" width="45" height="30" alt="">
						</span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-tab.jpg" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-tab.jpg" width="45" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-tab.jpg" style="width:225px;"/>
					</div>
					
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/event-icon.png" width="25" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/event-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width: 50px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/member-icon.png" width="25" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/member-icon.png" style="width:225px;"/>
					</div>
				</div>
				<div class="popupfloaticon" style="float:left;width:315px;height:Auto;">
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;">
							<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-icon.png" width="20" height="30" alt="">
						</span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/about-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contact-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/location-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/listing-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/contest-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;">
							<img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-icon.png" width="20" height="30" alt="">
						</span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/testimonial-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/promotion-icon.png" style="width:225px;"/>
					</div>
					
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/directory-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/product-icon.png" style="width:225px;"/>
					</div>
					<div class="popup-form-row" style="width:325px;float:left;">
						<span style="width:30px;float: left;margin-right: 10px;"><img src="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/instagram-icon.png" width="20" height="30" alt=""></span>
						<input name="emailto" type="text"  class="required" value="http://secure.conversion-hub.com/apps/chm/banner-creator/icons/instagram-icon.png" style="width:225px;"/>
					</div>
				</div>					
			</div>
			<div class="clear"></div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div> -->

</section>