<div id="popup-overwrite" style="display: none; width: 649px; height: 479px; position: relative; background: url('assets/img/ragecomic-focused.png') no-repeat; background-position: -1px -1px; font-size: 19px; line-height: 35px;"> 
	<div class="message" style="position: absolute;right: 7%;top: 60px; width: 352px;">
	    <p style="font-weight: bold; margin: 10px 10px 0;">Do you want to overwrite it ?</p> 
	    <p class="text-center" style="padding: 0 10px;position: absolute;top: 54px;right: 119px;">
		    <button class="btn-link" ng-click="overwiriteTplYes($event)">Yes</button>
		    <button class="btn-link" ng-click="overwiriteTplNo($event)">No</button>
	    </p>
	</div>
</div>
<div id="popup-result-generate-image" class="hide container">
	<div class="row-fluid">
		<ul class="thumbnails" style="margin: 15px 15px 0; text-align: left;"></ul>
	</div>
</div>
<div id="popup-result-generate-image-modal" class="modal modal-large hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Generated Images</h3>
	</div>
	<div class="modal-body">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#preview" data-toggle="tab">Preview</a></li>
				<li><a href="#save" data-toggle="tab">Save</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="preview">
					<ul class="thumbnails" style="margin: 15px 15px 0; text-align: left;"></ul>
				</div>
				<div class="tab-pane" id="save">
					<form class="form-horizontal">
						<fieldset>
							<legend>Save Banner</legend>
							<div class="control-group">
								<label class="control-label" for="input01">Title</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="input01" ng-model="
									banner.title.text" disabled>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">Description</label>
								<div class="controls">
									<textarea class="input-xxlarge" id="textarea" rows="3" ng-model="banner.description.text" disabled></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="optionsCheckbox">Template</label>
								<div class="controls tpl-preview">
									<img ng-src="{{banner.preview}}" style="height:200px">
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary" ng-click="save($event)">Save</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-success download-zip"><i class="icon-download"></i> Download Zip</a>
		<a href class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	</div>
</div>

<div id="popup-loading-img" class="hide">
	<img src="assets/img/loading-problem.png" width="375" height="350" />
	<h3 class="generate-progress" style="color:#f5f5f5; border-bottom: none;"></h3>
</div>
