<div class="row-fluid">	
	<nav>
		<ul class="breadcrumb">
			<li>
				<a href="#!/">Home</a><span class="divider">/</span>
			</li>
			<li>
				<a ng-if="$root.page.breadcrumb.link.href" ng-href="{{$root.page.breadcrumb.link.href}}">{{$root.page.breadcrumb.link.title}}</a>
				<span ng-if="!$root.page.breadcrumb.link.href" style="font: bold 20px/20px arial; opacity: 0.5">{{$root.page.breadcrumb.link.title}}</span>
				<span class="divider">/</span>
			</li>
			<li class="active">
				{{$root.page.breadcrumb.link.active}}
			</li>
		</ul>
	</nav>
	<div id="mobile-splash">
		<aside id="sidebar" class="span3">
			<h3>Choose Templates</h3>
			<div class="accordion" id="setting-template">
				<!-- Mobile -->
			 	<div class="accordion-group">
			 		<div class="accordion-heading">
			 			<a class="accordion-toggle open" data-title="Mobile" data-toggle="collapse" data-parent="#setting-template" href="#tpl-mobile" ng-click="show = 'mobile'">
			 				Mobile
			 			</a>
			 		</div>
			 		<div id="tpl-mobile" class="accordion-body collapse in">
			 			<div class="accordion-inner gray">
							<!-- template splash mobile setting -->
			 				<div ng-include src="'app/views/splash-mobile-setting.html'"></div>
							<!-- /template splash mobile setting -->
			 			</div>
			 		</div>
		 		</div>


				<!-- Facebook -->
			 	<div class="accordion-group">
			 		<div class="accordion-heading">
			 			<a class="accordion-toggle" data-title="Facebook" data-toggle="collapse" data-parent="#setting-template" href="#tpl-facebook">
			 				Facebook
			 			</a>
			 		</div>
			 		<div id="tpl-facebook" class="accordion-body collapse">
			 			<div class="accordion-inner gray">
							<!-- template splash facebook setting -->
			 				<div ng-include src="'app/views/splash-facebook-setting.html'"></div>
							<!-- template splash facebook setting -->
			 			</div>
			 		</div>
			 	</div>

				<!-- Custom -->
			 	<div class="accordion-group">
			 		<div class="accordion-heading">
			 			<a class="accordion-toggle" data-title="Custom" data-toggle="collapse" data-parent="#setting-template" href="#tpl-custom">
			 				Custom
			 			</a>
			 		</div>
			 		<div id="tpl-custom" class="accordion-body collapse">
			 			<div class="accordion-inner gray">
							<!-- template splash custom setting -->
			 				<div ng-include src="'app/views/splash-custom-setting.html'"></div>
							<!-- template splash custom setting -->
						</div>
			 		</div>
			 	</div>
			 </div>
		</aside>
		<section id="editor" class="span9 editor-{{showEditor}}">
			<div ng-switch="showEditor">
				<div ng-switch-when="mobile">
					<!-- SplashMobileFabric directive -->
		            <splash-mobile-fabric splash="splash.mobile"></splash-mobile-fabric>
					<!-- /SplashMobileFabric directive -->	
				</div>
				<div ng-switch-when="facebook">
					<!-- SplashFacebook directive -->
					<splash-facebook splash="splash.facebook" setting-element="#tpl-facebook" generate-qr="generateQR"></splash-facebook>
					<!-- /SplashFacebook directive -->
				</div>
				<div ng-switch-when="custom">
					<!-- SplashCreator directive -->
					<splash-custom splash="splash.custom"></splash-custom>
					<!-- /SplashCreator directive -->
				</div>
			</div>
		</section>
	</div>
</div>